@{
	Layout = "_Layout";
}

@using MusicDatabase.Models
@model List<MusicDatabase.Models.Artist>

<h2 id="title">Artists</h1>

 <hr />

	@if (Model.Count == 0)
	{
	 <p>No artists have been added yet.</p>
	}
	else
	{
		@foreach (Artist artist in Model)
		{
		 <li>@Html.ActionLink($"{artist.Name}", "Details", new { id = artist.ArtistId })</li>
		}
	}

 <hr />

 <p>
		@Html.ActionLink("Add a new artist", "Create")
  |
		@Html.ActionLink("Go to homepage", "Index", "Home")
 </p>